/* =================MAIN=================== */

:root {
    --primary-color: #757575;
    --secondary-color: #FFF;
    --hover-color: #2196F3;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}

.list { list-style: none; }

.link { text-decoration: none; }

/* =================MAIN=================== */
/* =================HEADER=================== */

.logo-web {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #2196F3;
}

.logo-studio {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: #000;
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: inherit;
}

.header-contact-email,
.header-contact-phone-number {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--primary-color);
}

.menu-link:hover,
.menu-link:focus,
.header-contact-item a:hover,
.header-contact-item a:focus {
    color: var(--hover-color);
}

/* =================HEADER=================== */
/* =================FOOTER=================== */

.footer {
    background-color: #2F303A;
}

.footer-nav .logo-studio {
    color: var(--secondary-color);
}

.footer-contact-address {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--secondary-color);
}

.footer-conact-email,
.footer-contact-phone-number {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-contact-item a:hover,
.footer-contact-item a:focus {
    color: var(--hover-color);
}

/* =================FOOTER=================== */