/* =================MAIN-PORTFOLIO================= */

.main-portfolio { border-top: 1px solid #ECECEC; }

/* =================BUTTONS================= */

.button-item button {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    text-align: center;
    letter-spacing: 0.03em;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    font-family: inherit;
    font-style: inherit;
}

.btn-all{
    width: 73px;
    height: 38px;
}

.btn-web-sites{
    width: 128px;
    height: 38px;
}

.btn-applications{
    width: 145px;
    height: 38px;
}

.btn-design{
    width: 103px;
    height: 38px;
}

.btn-marketing {
    width: 130px;
    height: 38px;
}

.button-item button:hover,
.button-item button:focus {
    background: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--secondary-color);
}

/* =================BUTTONS================= */
/* =================ALL PRODUCTS================= */

.product-item { border: 1px solid #EEEEEE; }

.product-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;
    color: #212121;
}

.product-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

/* =================ALL PRODUCTS================= */
/* =================MAIN-PORTFOLIO================= */