/* =================HERO================ */

.hero { background-color: #2F303A; }

.title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--secondary-color);
}

.modal-btn {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    justify-content: center;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: #188CE8;
}

/* =================HERO================ */
/* =================OUR ADVANTAGES================ */

.title-desc-advantages {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.desc-advantages {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--primary-color);
}

/* =================OUR ADVANTAGES================ */
/* =================PHOTOS OF "OUR ADVANTAGES================ */

.title-photo-advantages {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
}

/* =================PHOTOS OF "OUR ADVANTAGES================ */
/* =================OUR TEAM================ */

.title-photo-team-minidesc {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    text-align: center;
    letter-spacing: 0.03em;
}

/* =================PHOTOS AND MINI-DESCRIPTION OF "OUR TEAM"================ */

.our-team {
    background: #F5F4FA;
}

.teammate-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.mini-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
}

.team-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

/* =================PHOTOS AND MINI-DESCRIPTION OF "OUR TEAM"================ */
/* =================OUR TEAM================ */