body {
    font-family: 'oleo Script', cursive;
    font-family: 'raleway', sans-serif;
    font-family: 'roboto',sans-serif;
}

.link:hover,
.link:focus{
    color: #2196f3;
}
/* -----------------------HEADER-------------------- */

header {
margin: 0px;
padding: 4px;
}

header ul {
display: inline;
margin-right: 50px;
padding: 3px;
}

.title-web {
width: 145px;
height: 31px;
color: #2196F3;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: calc(31 / 26);
text-decoration: none;
margin-left: 215px;
margin-top: 25px;
}

.title-studio {
    width: 145px;
    height: 31px;
    color: #000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    text-decoration: none;
}

.studio {
    margin-left: 93px;
}

.studio,
.portfolio,
.contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #212121;    
    text-decoration: none;
}

.spc {
    margin: 0px;
    padding: 4px;
}

.spc li{

    margin-top: 25px;
    display: inline;
    margin-right: 50px;
    padding: 3px;
}

.mailtel {
    margin: 0px;
    padding: 4px;
}

.mailtel li {
    display: inline;
    margin-right: 50px;
    padding: 3px;
}


